body {
    background-color: rgb(25, 25, 25);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.title {
    font-weight: bold;
    font-size: 30px;
}

.btn,
.btn1 {
    background-color: transparent;
    border: solid 4px white;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin: 5px;
    margin-bottom: 50px;
}

.bgimg {
    width: 75px;
}

.reset, .autoPlay {
    background-color: white;
    color: black;
    border: none;
    border-radius: 2px;
    padding: 15px;
}

.js-result {
    font-weight: bold;
    font-size: 25px;
}

.move-icon {
    background-color: transparent;
    width: 40px;
}

.instruction{
    position: absolute;
    right: 210px;
    top: 100px;
    padding: 20px;
    background-color: transparent;
    border: solid rgb(206, 178, 17) 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.50s, opacity 0.15s; 
}
.instruction:hover {
    transform: translate(10px, 10px);
}

.instruction:active{
    opacity: 0.5;
}

#image{
    object-fit: cover;
    position: absolute;
    top: 190px;
    right: 170px;
    width: 250px;
    border: solid rgb(206, 178, 17) 5px;
    border-radius: 10px;
}


@media (min-width: 370px) and (max-width: 769px) {
    .instruction {
        position: absolute;
        top: 700px;
        left: 50px; 
        right: 50px; 
        width: calc(100% - 100px); 
    }

    #image {
        position: absolute;
        top: 790px; 
        left: 100px; 
        right: 25px; 
        max-width: calc(100% - 50px); 
    }
}

@media(min-width: 770px) and (max-width:930px){
    .instruction{
        position: absolute;
        right: 25px;
    }

    #image{
        position: absolute;
        right: 25px;
        width: 200px;
    }
}

@media (max-width: 369px) {
    .instruction {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 20px; /* Add some padding for better spacing */
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        color: white; /* Text color */
        z-index: 9999; /* Ensure button is on top of other content */
    }

    #image {
        position: absolute;
        bottom: 60px; /* Adjust this value for proper positioning */
        left: 0;
        width: 100%;
        max-width: 100%;
        text-align: center;
        z-index: 9998; /* Ensure image is behind the button */
    }
}


@media (max-width: 320px){
    .instruction{
    margin-top: 750px;

    }

    #image{
        margin-top: 750px;
    }
}

@media (min-width:321px) and (max-width:369px){
    .instruction{
        margin-top: 750px;
    }
    #image{
        margin-top: 770px;
    }
}